---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Carousel from "../components/Carousel.astro";
import Team from "../components/Team.astro";
import Footer from "../components/Footer.astro";
import Services from "../components/Services.astro";
import Empresas from "../components/Empresas.astro";
import Nostros from "../components/Nostros.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Agency Marketing">
  <main>
    <Header />
    <Carousel />
    <Nostros />
    <Team />
    <Empresas />
    <Services />
    <Contact />

    <Footer />
  </main>
</Layout>
