---

---

<div
  id="default-carousel"
  class="w-full h-screen bg-[#fff200] px-4"
  data-carousel="slide"
>
  <!-- Carousel wrapper -->
  <div class="relative overflow-hidden rounded-lg w-10/12 md:w-9/12 m-auto p-1">
    <!-- Item 1 -->
    <div
      class="duration-700 ease-in-out grid grid-cols-1 md:grid-cols-2"
      data-carousel-item
    >
      <div class="pt-20 flex flex-col gap-3">
        <h2 class="text-[2.5rem] font-medium leading-none">
          Agencia digital que genera resultados
        </h2>
        <div class="ml-1 border-2 border-sm w-1/5 border-black"></div>
        <p class="text-[18px]">
          Haz que los clientes lleguen a tu negocio con campañas de publicidad
          en el buscador de Google.
        </p>
        <div>
          <button
            class="bg-white mt-4 py-2 px-3 font-extrabold text-lg transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
            >Ver más</button
          >
        </div>
      </div>
      <div class="pt-7">
        <img
          class="cursor-pointer transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300"
          src="https://www.9mm.cl/wp-content/themes/nuevemm-es-cl/img/slider-googleads.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
