---
import { Image } from "astro:assets";
import imgLogo from "../../public/logo.png";
---

<footer class="bg-gray-950 text-white py-5">
  <div
    class="w-10/12 md:w-9/12 m-auto grid justify-between items grid-cols-2 md:grid-cols-3"
  >
    <ul>
      <li class="mb-4">
        <a
          href="#"
          class="hover:text-gray-200 bg-blue-600 rounded-sm py-1.5 px-2 hover:bg-blue-500"
          >Iniciar Sesion</a
        >
      </li>
      <li>© 2023 Vtex SpA</li>
    </ul>
    <ul class="font-medium">
      <li class="mb-4">
        <a href="#" class="hover:text-gray-200">Leer mas</a>
      </li>
      <li>
        <a href="#" class="hover:text-gray-200">Preguntas Frecuentes</a>
      </li>
    </ul>
    <ul class="font-medium">
      <li class="mb-4">
        <a href="#" class="hover:text-gray-200">Privacy Policy</a>
      </li>
      <li>
        <a href="#" class="hover:text-gray-200">Terms &amp; Conditions</a>
      </li>
    </ul>
  </div>
</footer>
