---
import { Image } from "astro:assets";
---

<section class="w-10/12 md:w-9/12 m-auto p-1 pt-10">
  <section class="bg-white">
    <div class="py-10 mx-auto">
      <div class="lg:-mx-6 lg:flex lg:items-center">
        <Image
          class="object-cover object-center lg:w-1/2 lg:mx-6 w-full h-96 rounded-lg lg:h-[30rem]"
          src="https://19498232.fs1.hubspotusercontent-na1.net/hub/19498232/hubfs/payroll%20blog%20banner.png?width=1440&height=630&name=payroll%20blog%20banner.png"
          alt="Contratos"
          width={400}
          height={400}
        />

        <div class="mt-8 lg:w-1/2 lg:px-6 lg:mt-0">
          <p class="text-5xl font-semibold text-blue-500">“</p>

          <h1 class="text-2xl font-semibold text-gray-800 lg:text-4xl lg:w-96">
            Quienes somos ?
          </h1>
          <div class="ml-1 border-2 border-sm w-1/5 border-black mt-1"></div>
          <p class="max-w-lg mt-6">
            “ Somos una joven startup especializada en el desarrollo de
            software, que además brinda servicios de marketing de alto nivel
            para potenciar tu negocio de manera profesional ”
          </p>

          <p class="max-w-lg mt-6">
            “ En nuestro compromiso por ayudar a tu empresa a alcanzar sus
            metas, combinamos nuestra experiencia en el desarrollo de software
            con estrategias de marketing efectivas, creando soluciones
            integrales que impulsan el crecimiento y la visibilidad de tu
            negocio en el competitivo mercado actual. ”
          </p>

          <h3 class="mt-6 text-lg font-medium text-blue-500">John Doe</h3>
          <p class="text-gray-600">Marketing Manager at Stech</p>
        </div>
      </div>
    </div>
  </section>
</section>
