<section class="bg-white w-10/12 md:w-9/12 m-auto py-5">
  <div class="mx-auto">
    <h2 class="text-2xl font-semibold text-center lg:text-3xl">Our Team</h2>
    <p class="text-center">Contribuidores de la startup 🤝</p>

    <div
      class="grid gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 justify-center"
    >
      <div class="w-full max-w-xs text-center">
        <img
          class="object-cover object-center w-full h-48 mx-auto rounded-sm cursor-pointer transition-all duration-300 filter grayscale hover:grayscale-0"
          src="https://images.unsplash.com/photo-1493863641943-9b68992a8d07?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=739&q=80"
          alt="avatar"
        />

        <div class="mt-2">
          <h3 class="text-lg font-medium">Ahmed Omer</h3>
          <span class="mt-1">CEO</span>
        </div>
      </div>

      <div class="w-full max-w-xs text-center">
        <img
          class="object-cover object-center w-full h-48 mx-auto rounded-sm cursor-pointer transition-all duration-300 filter grayscale hover:grayscale-0"
          src="https://images.unsplash.com/photo-1516756587022-7891ad56a8cd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
          alt="avatar"
        />

        <div class="mt-2">
          <h3 class="text-lg font-medium">Jane Doe</h3>
          <span class="mt-1">Co-founder</span>
        </div>
      </div>

      <div class="w-full max-w-xs text-center">
        <img
          class="object-cover object-center w-full h-48 mx-auto rounded-sm cursor-pointer transition-all duration-300 filter grayscale hover:grayscale-0"
          src="https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=731&q=80"
          alt="avatar"
        />

        <div class="mt-2">
          <h3 class="text-lg font-medium">Steve Ben</h3>
          <span class="mt-1">UI/UX</span>
        </div>
      </div>

      <div class="w-full max-w-xs text-center">
        <img
          class="object-cover object-center w-full h-48 mx-auto rounded-sm cursor-pointer transition-all duration-300 filter grayscale hover:grayscale-0"
          src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
          alt="avatar"
        />

        <div class="mt-2">
          <h3 class="text-lg font-medium">Patterson Johnson</h3>
          <span class="mt-1">Software Engineer</span>
        </div>
      </div>
    </div>
  </div>
</section>
